
.header {
    grid-area: header;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    background-color: red;
    font-stretch: semi-expanded;
  }
  .main {
    grid-area: main;
    font-family: 'Montserrat', sans-serif;
  }
  .sidebar {
    grid-area: sidebar;
    font-family: 'Montserrat', sans-serif;
  }
  .footer {
    grid-area: footer;
    font-family: 'Montserrat', sans-serif;

  }

  .aboutme {
    grid-area: aboutme;
    font-family: 'Montserrat', sans-serif;
  }

  a {
    color: orange;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

.picture{
  float: right;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.container {
    max-width: 1080px;
    margin: auto;
    display: grid;
    /* grid-template-columns: 20px auto 200px; */
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto auto auto;
    /*grid-template-rows: repeat(3, 200px); */
    grid-column-gap: 10px;
    grid-row-gap: 45px;

    grid-template-areas:
    "header header header"
    "main main aboutme"
    "sidebar sidebar sidebar"
    "footer footer footer"
}
